<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/aquarium.css">

		<link rel="stylesheet" href="css/style.css">

	</head>
<section>
	<div class="dory">


	</div>
	<div class="nemo">

	</div>
	<div class="stingray">

	</div>

	<div class="shark">

	</div>
	<audio id="music">

	</audio>
</section>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="js/aquarium.js">

	</script>
	<body>

	</body>
</html>
